body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     margin: 20px;
}
#usersContainer {
    display:flex;
    flex-wrap: wrap;
    max-width:1200px;
    justify-content: space-between;

}

.user {
    display:block;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    width:30%;
    }

img {
    border-radius: 50%;
}