body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin: 20px;
}

h2 {
   color: #333;
}

.track {
   display: flex;
   justify-content: space-between;
   margin: 10px 0;
}

button {
   display: flex;
   align-items: center;
   background-color: transparent;
   color: #ffffff;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   transition: transform 0.2s ease;
}
button svg {
   fill: #ffffff;
   stroke: #b4241a;
   max-width: 20px;
   height: auto;
}

#favorites {
   margin-top: 20px;
}
.favorite {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
   background-color: #f4f4f4;
   padding: 8px 10px;
   border: 2px solid #bad7fd;
   margin-bottom: 5px;
}
.favorite button {
   color: #000000;
   background-color: #bad7fd;
}

.shake {
   animation: shake 0.3s;
}

@keyframes shake{
   0%,100%{transform:translateX(0)}25%{transform:translateX(-5px)}50%{transform:translateX(5px)}75%{transform:translateX(-5px)}
}